asgiref==3.2.5
coverage==5.0.3
Django==3.0.7
-e git://github.com/kmmbvnr/django-jenkins.git@f673c8ecded24eb56aeaef8d1c0caeb82208b595#egg=django_jenkins
pep8==1.7.1
pyflakes==2.1.1
pytz==2019.3
sqlparse==0.3.1
